<h1><%= @cpu.name %></h1>

<% if @cpu.image.attached? %>
    <%= image_tag @cpu.image, class: 'w-100', style: 'max-width: 20rem;'%>
<% end %>

<p>Price: $<%= @cpu.price %></p>


<p><%= @cpu.tdp %>W</p>
<p>Socket: <%= @cpu.socket %></p>

<%= form_with url: cart_items_path, method: :post, local: true do |f| %>
  <%= hidden_field_tag :type, 'Cpu' %>
  <%= hidden_field_tag :id, @cpu.id %>

  <div class="field">
    <%= label_tag :quantity, 'Quantity' %><br />
    <%= number_field_tag :quantity, 1, min: 1 %>
  </div>
<br />
  <div class="form-group">
    <%= f.submit 'Add to Cart', class: 'btn btn-primary' %>
  </div>
<% end %>
<br />
<p><%= link_to 'Back to CPUs', cpus_path, class: 'btn btn-primary' %></p>
