<h1>Payment</h1>
<br>

<%= form_with url: checkout_complete_path, method: :post, local: true, data: { turbo: false } do |f| %>


  <div class="form-group">
    <%= f.label :credit_card_number %><br/>
    <%= f.number_field :credit_card_number, value: @payment_info&.credit_card_number, class: 'form-group mr-2 required' %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :name_on_card %><br/>
    <%= f.text_field :name_on_card, value: @payment_info&.name_on_card, class: 'form-group mr-2 required' %>
  </div>
  <br>
  <%= f.submit 'Purchase', class: 'btn btn-primary' %>
<% end %>
<script>
  document.getElementById("payment-form").addEventListener("submit", function(event) {
    console.log('Submit event triggered');
    
    const requiredFields = document.querySelectorAll(".required");
    let allFieldsValid = true;

    requiredFields.forEach(function(field) {
      if (!field.value || field.value.trim() === "") {
        allFieldsValid = false;
      }
    });

    if (!allFieldsValid) {
      event.preventDefault();
      alert("Please complete all required fields.");
    } else {
      console.log('Form submitted successfully');
    }
  });
</script>

