<h1>Components</h1>

<ul>
    <li><%= link_to 'CPU', cpus_path%></li>
    <li><%= link_to 'GPU', gpus_path%></li>
    <li><%= link_to 'RAM', rams_path%></li>
    <li><%= link_to 'Motherboard', motherboards_path%></li>
    <li><%= link_to 'Cooler', coolers_path%></li>
    <li><%= link_to 'PSU', psus_path%></li>
    <li><%= link_to 'Case', cases_path%></li>
    <li><%= link_to 'Storage', storages_path%></li>
</ul>