<h1>GPUs</h1>
<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @gpus.each do |gpu| %>
      <tr>
        <td><%= link_to gpu.name, gpu_path(gpu) %></td>
        <td><%= gpu.price %></td>
        <td class="d-flex">
          <%= form_with url: cart_items_path, method: :post, local: true do |f| %>
            <%= hidden_field_tag :type, 'Gpu' %>
            <%= hidden_field_tag :id, gpu.id %>

            <div class="form-group mr-2">
              <%= label_tag :quantity, 'Quantity' %>
              <%= number_field_tag :quantity, 1, min: 1, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.submit 'Add to Cart', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
